body{	

overflow-x: hidden;

}
.update{
	background-color: #99ff99;
	border-radius: 2px;
	padding: 5px;
}

.right-sliderbar-img img{

   width: 70px;
   height: 70px;
   border-radius: 50%;
   border:3px solid #61BC71;
   ;

	

}